<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>

<!--<form th:method="POST" th:action="@{/order/search}">
    <label for="query">Enter a search: </label>
    <input type="text" id="query" name="query"/>
    <input type="submit" value="Search">
</form>-->

<div th:each="order : ${orders}">
    <a th:href="@{/order/{id}(id=${order.getId()})}" th:text="${order.getOwner()} + ', '+ ${order.getOrderDate()}"></a>
</div>

<br/>
<hr/>

<a href="order/new"> Add new order</a>
<br>
<a href="/people">People</a>

</body>
</html>