<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add order</title>
</head>
<body>
<form th:method="POST" th:action="@{/orders}" th:object="${order}">
    <label for="orderDate">Enter order date: </label>
    <input type="text" id="orderDate" th:field="*{orderDate}"/>
    <div style="color: red" th:if="${#fields.hasErrors('orderDate')}" th:errors="*{orderDate}">Order date error</div>
    <br/>
    <label for="owner">Enter owner: </label>
    <input type="text" id="owner" th:field="*{owner}"/>
    <div style="color: red" th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}">Owner error</div>
    <br/>

    <input type="submit" value="Add order"/>
</form>

<hr/>

<a href="/orders">back</a>

</body>
</html>