### My ignore ###
src/main/resources/application.properties
src/main/resources/application-dev.properties
src/main/resources/DB_SQL

src/main/java/ru/clothingstore/config/MvcConfig.java
src/main/java/ru/clothingstore/controller/ProductsControllerOld.java
src/main/java/ru/clothingstore/service/Impl/ProductsService.java

src/main/resources/log4j.properties
src/main/resources/db.migration
src/main/resources/static/css/main.css
FileForDocker

### Tests ###
src/main/resources/templates/test.html
src/main/resources/static/js/tests
src/main/java/ru/clothingstore/controller/TestController.java

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
