<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Detail News Page</title>
</head>
<body>
<!--Template Header-->
<div th:include="/fragments/header :: header"></div>

<!--Todo обновить интерфейс-->

<div class="container mt-5">

    <div class="card" style="margin-bottom: 10px">
        <div class="card-header">
            <h2>News Detail</h2>
        </div>
        <div class="card-block" style="padding: 10px;">
            <div class="row">
                <img class="card-img-top" th:src="${'/img/' + news.newsImageLink}" alt="Card newsImageLink cap" style="max-width: 1300px !important;">
            </div>
            <div class="row">
                <h3 class="card-title" th:text="${news.title}"></h3>
            </div>
            <div class="row">
                <p class="card-text" style="font-size: 1.2em" th:text="${news.description}"></p>
            </div>
        </div>
    </div>
</div>

</body>

<footer>
    <!--Template footer-->
    <div id="footer" th:include="/fragments/footer :: footer"></div>
</footer>

</html>