<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search products</title>
</head>
<body>

<form th:method="POST" th:action="@{/products/search}">
    <label for="query">Enter a search term: </label>
    <input type="text" id="query" name="query"/>
    <input type="submit" value="Search">
</form>

<div th:each="product : ${products}">
    <b><a th:href="@{/products/{id}(id = ${product.getId()})}" th:text="${product.getName() + ', ' + product.getPrice()}">Product</a>
    </b>

<!--    <div th:if="${product.getOrders() != null}">
        <span>Item belongs: </span> <span th:text="${product.getOrders().getFullName()}"> Person full name</span>
    </div>

    <div th:if="${product.getOwner() == null}">
        <span>Item is free</span>
    </div>-->
</div>

<hr/>

<a href="/products">back</a>

</body>
</html>