<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show product</title>
</head>
<body>
<p th:text="'Product: ' + ${product.getName()} + ' price: ' + ${product.getPrice()} + ' type: ' + ${product.getProductType().getName()}"></p>
<br/>
<hr/>

<!--<div th:if="${owner}">
    <span>Item belongs: </span> <span th:text="${owner.getFullName()}">Person name</span>
    <form th:method="PATCH" th:action="@{/product/{id}/release(id=${product.getId()})}">
        <input type="submit" value="Release product"/>
    </form>
</div>

<div th:if="${people}">
    <span>The object does not belong to anyone</span>
    <form th:method="PATCH" th:action="@{/product/{id}/assign(id=${product.getId()})}">
        <label for="person">Select person</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}">
            </option>
        </select>

        <input type="submit" value="Assign product"/>
    </form>
</div>-->

<form th:method="GET" th:action="@{/products/{id}/edit(id=${product.getId()})}">
    <input type="submit" value="Edit product">
</form>

<form th:method="DELETE" th:action="@{/products/{id}(id=${product.getId()})}">
    <input type="submit" value="Delete product">
</form>

<hr/>

<a href="/products">back</a>

</body>
</html>