<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modal</title>
</head>
<body>

<!--FOOTER-->
<div th:fragment="modal">

    <!-- Modal -->
    <div class="modal fade" id="modalBuy" tabindex="-1" role="dialog" aria-labelledby="modalBuyLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Заголовок модального окна</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalBuyLabel">Information</h4>
                </div>
                <div class="modal-body">
                    This good add to your cart
                    <div class="modal-info">That
                    </div>
                </div>
                <div class="modal-footer"
                     th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
                    <span th:case="${false}">
                        <a type="button" class="btn btn-primary" href="/auth/login">Login</a>
                    </span>
                    <span th:case="${true}">
                        <a href="#" type="button" class="btn btn-default" data-bs-dismiss="modal">Back to shopping</a>
                        <a href="/cart" type="button" class="btn btn-primary">Go to the Cart</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>