<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="pager">
    <nav aria-label="Пример навигации по страницам">
        <ul class="pagination">
            <li th:class="${goodsPage.number == 1} ? 'page-item' : 'page-item disabled'">
                <a class="page-link" th:href="@{/{url}(url=${url}, offset=${goodsPage.getNumber()} - 1)}">Предыдущая</a>
            </li>
            <div th:if="${goodsPage.totalPages > 0}"
                 th:each="pageNumber : ${pageNumbers}">
                <li th:class="${pageNumber==goodsPage.number + 1} ? 'page-item active' : 'page-item'" aria-current="page">
                    <a class="page-link" th:href="@{/{url}(url=${url}, offset=${pageNumber - 1}, limit=${goodsPage.size})}" th:text="${pageNumber}"> Current page</a>
                </li>
            </div>
            <li class="page-item" th:unless="${pageNumbers.size() == goodsPage.getNumber() + 1}">
                <a class="page-link" th:href="@{/{url}(url=${url}, offset=${goodsPage.getNumber()} + 1)}">Следующая</a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>