<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
    <link rel="stylesheet" href="../../static/css/main.css" type="text/css">
</head>
<body>
  <div class="header">Header</div>

  <ul id="nav">
      <li>Главная</li>
      <li>О нас</li>
      <li>Контакты</li>
    </ul>
    <div class="asideL">AsideL</div>

    <div class="main">
      <form th:method="POST" th:action="@{/people/{id}/edit(id=${person.getId()})}" th:object="${person}">
          <label for="firstName">Enter first name: </label>
          <input type="text" th:field="*{firstName}" id="firstName"/>
          <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name Error</div>
          <br/>
          <label for="lastName">Enter last name: </label>
          <input type="text" th:field="*{lastName}" id="lastName"/>
          <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name Error</div>
          <br/>
          <label for="age">Enter age: </label>
          <input type="text" th:field="*{age}" id="age"/>
          <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
          <br/>
          <label for="email">Enter email: </label>
          <input type="text" th:field="*{email}" id="email"/>
          <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
          <br/>
          <label for="address">Enter address: </label>
          <input type="text" th:field="*{address}" id="address"/>
          <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</div>
          <br/>
          <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Last name Error</div>
          <br/>
          <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Last name Error</div>
          <br/>
          <div style="color:red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Last name Error</div>
          <br/>
          <div style="color:red" th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}">Last name Error</div>
          <br/>
          <div style="color:red" th:if="${#fields.hasErrors('reputation')}" th:errors="*{reputation}">Last name Error</div>
          <br/>
          <input type="submit" value="Update"/>
      </form>
    </div>
    <hr/>

    <a href="/people">back</a>

    <div class="asideR">AsideR</div>
    <div class="footer">Footer</div>

    <div id="fixed">Fixed</div>

</body>
</html>
