<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css"/>
</head>
<body>
  <div class="header">Header</div>

  <ul id="nav">
      <li>Главная</li>
      <li>О нас</li>
      <li>Контакты</li>
    </ul>
    <div class="asideL">AsideL</div>

    <div class="main">
      <div th:each="person : ${people}">
          <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getFirstName() + ' ' + person.getLastName() + ',  ' + person.getAge()}">Person</a>
      </div>
      <br/>
      <br/>
      <a href="/products">Products</a>
    </div>

    <div class="asideR">AsideR</div>
    <div class="footer">Footer</div>

    <div id="fixed">Fixed</div>

</body>
</html>
