<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product types</title>
</head>
<body>

<form th:method="POST" th:action="@{/productTypes/search}">
    <label for="query">Enter a search: </label>
    <input type="text" id="query" name="query"/>
    <input type="submit" value="Search">
</form>

<div th:each="productType : ${productTypes}">
    <a th:href="@{/productTypes/{id}(id=${productType.getId()})}" th:text="${productType.getName()}"></a>
</div>

<br/>
<hr/>

<a href="productTypes/new"> Add new product type</a>
<br>
<a href="/products">Products</a>

</body>
</html>