<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>About</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!--Template Header-->
<div th:include="/fragments/header :: header"></div>

<div class="container mt-5">
  <p>Эта страница находится в разработке</p>
</div>

</body>
<footer>
  <!--Template footer-->
  <div id="footer" th:include="/fragments/footer :: footer"></div>
</footer>
</html>