<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<!--Template Header-->
<div th:include="/fragments/header :: header"></div>

<div class="container mt-5">

    <a class="btn btn-success" href="news/add">Add News</a>

    <table class="table" th:unless="${#lists.isEmpty(newsList)}">
        <thead>
        <tr>
            <th>Id</th>
            <th>Icon</th>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>

            <th>Update News</th>
            <th>Delete News</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="news : ${newsList}">
            <td th:text="${news.id}">Id</td>
            <td th:text="${news.newsImageLink}">Icon</td>
            <td th:text="${news.title}">Title</td>
            <td th:text="${news.description}">Description</td>
            <td th:text="${news.date}">Date</td>

            <td>
                <form th:method="GET" th:action="@{news/{id}/update(id=${news.id})}">
                    <input type="submit" value="Update news"/>
                </form>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{news/{id}/delete(id=${news.id})}">
                    <input type="submit" value="Delete news"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>

<footer>
    <!--Template footer-->
    <div id="footer" th:include="/fragments/footer :: footer"></div>
</footer>

</html>
